* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

input,
select,
textarea {
  font-weight: 5px;
  font-size: 1.2rem;
}

body {
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
  /* Soft modern gradient */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}


.form-container {
  max-width: 80vh;
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fafafa;
}

textarea {
  resize: none;
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.radio-group label {
  font-weight: normal;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #0ab9fe;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #00e1ff;
}

/* Responsive Design */
@media (max-width: 600px) {
  .form-container {
    padding: 20px;
  }

  h2 {
    font-size: 22px;
  }
}

label {
  font-weight: bold;
}